= form_for [@author, @book] do |f|
 
  %p 
    = f.label "Title"
    = f.text_field:title

  %p 
    = f.submit "Submit"
    / %p 
    /   - authors = Author.all.pluck(:first_name)
    /   - authors.each_with_index do |author, index|
    /     %label
    /       = f.check_box :author_names, { multiple: true }
    /       %span
    /         = author[0]
